# This file may be used to create an environment using:
# $ conda create --name xai --file requirements.txt python=3.9
# numpy==1.22.3 


numpy 
pandas
Pillow
matplotlib
seaborn
jupyterlab
ipywidgets
click
scikit-image
scikit-learn
scipy
tensorboard
timm
sklearn
torch
torchaudio
torchmetrics
torchvision
pytorch-lightning
captum
tqdm
wandb
fire
minio
protobuf