# This file may be used to create an environment using:
# $ conda create --name xai --file requirements.txt python=3.9
# numpy==1.22.3 


numpy 
pandas
Pillow
matplotlib
seaborn
jupyterlab
ipywidgets
click
scikit-image
scikit-learn
scipy
tensorboard
timm
-f https://download.pytorch.org/whl/cu113/torch_stable.html
torch==1.11.0+cu113
-f https://download.pytorch.org/whl/cu113/torch_stable.html
torchaudio==0.11.0+cu113
-f https://download.pytorch.org/whl/cu113/torch_stable.html
torchmetrics==0.7.2
-f https://download.pytorch.org/whl/cu113/torch_stable.html
torchvision==0.12.0+cu113
pytorch-lightning
captum
tqdm
wandb
fire
minio
protobuf